<% layout('/layouts/boilerplate.ejs') -%>

<body>
  <div class="row g-4">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h3 class="text-center mb-4">Sign in to your account</h3>

      <form action="/signin" method="POST" class="row g-3 needs-validation" novalidate>
        <div class="col-md-12">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" id=username placeholder="Enter your username" class="form-control" required>
          <div class="invalid-feedback">Please enter your username</div>
        </div>
        <div class="col-md-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter your password" class="form-control" required>
          <div class="invalid-feedback">Please enter your password</div>
        </div>

        <button class="btn btn-primary btn-md mt-4 mb-4">Sign in</button>
      </form>
    </div>
  </div>
</body>